#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App h1 {
  margin: 100px auto 20px;
  font-size: 76px;
}

.App h2 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}
