.Dictionary {
  margin: 120px auto 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("./assets/handwriting-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 30px 100px;
  border-radius: 8px 8px 4px 4px;
  box-shadow: 2px 1px 5px 1px rgb(0 0 0 / 0.08);
}

.Dictionary h1 {
  margin: 100px auto 20px;
  font-size: 76px;
  color: white;
}

.Dictionary h2 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}
.Dictionary p {
  font-size: 14px;
}

.Dictionary form input {
  padding: 10px;
  border-radius: 4px;
}
.Dictionary .inputText {
  background-color: #f2efe4;
  font-size: 14px;
  line-height: 14px;
  margin-right: 5px;
  border: 1px solid #f2efe4;
}
.Dictionary .inputSearchButton {
  margin-left: 5px;
  border: none;
  background-color: #ead4ae;
  transition: all 200ms ease-in-out;
}
.Dictionary .inputSearchButton:hover {
  background-color: #f2efe4;
}
.Dictionary .Random:hover {
  background: linear-gradient(
    87.4deg,
    rgb(255, 241, 165) 1.9%,
    rgb(200, 125, 76) 49.7%,
    rgb(83, 54, 54) 100.5%
  );
}

.Dictionary .hint {
  font-size: 11px;
  color: white;
}

@media (max-width: 900px) {
  .Dictionary {
    margin-top: 60px;
  }
  .Dictionary h1 {
    font-size: 50px;
  }
  .Dictionary h2 {
    font-size: 30px;
  }
  .Dictionary p {
    font-size: 12px;
  }

  .Dictionary .inputText {
    width: 100%;
    margin: 5px 5px 15px;
    padding: 15px 10px;
  }
  .Dictionary .inputSearchButton {
    margin-left: 15px;
  }
}
