:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */
  color-scheme: light dark;
  color: #212121;
  background-color: #f2efe4;
}
body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0 100px;
  border-radius: 4px;
  background-color: #f2efe4;
}
