.Results {
  margin-top: -4px;
  padding: 20px 20px 10px 20px;
  background: #ead4ae;
  border-radius: 0 0 8px 8px;
  text-align: left;
  box-shadow: 2px 1px 5px 1px rgb(0 0 0 / 0.08);
}

.Results h2 {
  margin: 0;
  text-align: center;
}
